extend layout
block content
    banner
        img(class='bannerimage' src='/images/GettingMarriedBanner.png')
    div.floatingShape
        p RSVP
    div.eventDetails
        div.detailsCard
            h3 When?
            hr
        div.detailsCard
            
            a(href='https://www.google.com/maps/dir//Laube+Hall,+115+Community+Park+Rd,+Freeport,+PA+16229/@40.5412421,-79.9884434,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8834a31785555555:0xbc7e985445cd50a3!2m2!1d-79.68588!2d40.678178')
                img(class='cardimage' src='/images/LaubeHallMapXL.PNG')
            p On the back porch at
            h4 3:30pm
            p reception to follow
            p just inside the building
        div.detailsCard
            h3 Registries
            hr