extend layout
block content
	banner
		img(class='bannerimage' src='/images/GettingMarriedBanner.png')
	div.eventDetails
		div.detailsCard
			h3 When?
			hr
			p On the back porch at
			h4 3:30pm
			p reception to follow
			p just inside the building
		div.detailsCard
			h3 Where?
			hr
		div.detailsCard
			h3 RSVP
			hr


