extend layout
block content
    banner
        img(class='bannerimage' src='/images/GettingMarriedBanner.png')
    a(href='http://joeandabbyb.anrsvp.com/')
        div.floatingShape
            p RSVP
    div.eventDetails
        div.detailsCard
            div.detailsCardHead
                h3 Location
            div.detailsCardBody
                h4 Our Wedding and Reception are at Laube Hall in Freeport
                a(href='https://www.google.com/maps/dir//Laube+Hall,+115+Community+Park+Rd,+Freeport,+PA+16229/@40.678178,-79.68588,17z/data=!4m13!1m4!3m3!1s0x8834a31785555555:0xbc7e985445cd50a3!2sLaube+Hall!3b1!4m7!1m0!1m5!1m1!1s0x8834a31785555555:0xbc7e985445cd50a3!2m2!1d-79.68588!2d40.678178')
                    p 115 Community Park Rd
                    p Freeport, PA 16229
                br
                
                p Wedding begins at
                h4 3:30 pm
                p On the back porch
                br
                p Reception to follow inside
                br
                p Click the map below to get directions
            div.cardimage
                a(href='https://www.google.com/maps/dir//Laube+Hall,+115+Community+Park+Rd,+Freeport,+PA+16229/@40.5412421,-79.9884434,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8834a31785555555:0xbc7e985445cd50a3!2m2!1d-79.68588!2d40.678178')
                    img(class='cardimage' src='/images/LaubeHallMapXL.PNG')
        div.detailsCard
            div.detailsCardHead
                h3 Lodging
            div.detailsCardBody
                h4 For your convenience we have set aside rooms at Springhill Suites Marriot
                p Reserve one by calling the hotel at <em>724-274-1064</em> by <em>JUNE 10th</em>.
                br
                p Ask for Boustead-Benscoter Wedding
                br
                a(href='https://www.google.com/maps/dir//SpringHill+Suites+Pittsburgh+Mills,+Village+At+Pittsburgh+Mills,+3015+Pittsburgh+Mills+Blvd,+Tarentum,+PA+15084,+United+States/@40.5462861,-79.8428075,12z/data=!4m12!1m3!3m2!1s0x0000000000000000:0xcb635252f9ca1b77!2sSpringHill+Suites+Pittsburgh+Mills!4m7!1m0!1m5!1m1!1s0x8834943fa646eac1:0xcb635252f9ca1b77!2m2!1d-79.804264!2d40.570471')
                    p 3015 Pittsburgh Mills Blvd.
                    p Tarentum, PA 15084
                br
                a(href='http://www.marriott.com/hotels/travel/pitml-springhill-suites-pittsburgh-mills/')
                    p http://www.marriott.com/hotels/travel/pitml-springhill-suites-pittsburgh-mills/ 
                br
                p King Suite: $149.00
                br
                p 2 Queen Suite: $159.00
        div.detailsCard
            div.detailsCardHead    
                h3 Registries
            div.detailsCardBody
                a(target="_blank" href='http://www.amazon.com/registry/wedding/BC2A0LK5O3BT')
                    p Amazon 
                br
                a(target="_blank" href='http://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&listid=2920727&viewtype=listview&isfromsearch=true&fname=Joe&lname=Benscoter&regtype=registry.wedding,registry.baby,registry.splday')
                    p Kohl's