extend layout
block content
	banner
		img(class='bannerimage' src='/images/GettingMarriedBanner.png')
	details
		p
			| Site under construction.
		p
			|  Details on Who, What, When, and Where to come.      Check back soon!
		p
			| 


