extend layout
block content
	banner
		img(class='bannerimage' src='/images/GettingMarriedBanner.png')
	div.eventDetails
		div.detailsCard
			p website under construction.
		div.detailsCard
			p Details on Who, What, When, and Where to come.
		div.detailsCard
			p Check back soon!


