doctype
html
    head
        title #{title} - Joe and Abby B
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            p Site Under Construction. More Information to Come.
                //
                    ul(id='nav')
                        li: a Home 
                        li: a Bride & Groom
                        li: a Maids & Men
                        li: a Location
                        li: a Registry
        .container
            .main-content
                block content
        footer
            p Copyright Joe Benscoter 2015
