doctype
html
	head
		title #{title} - Joe and Abby B
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			ul(id='nav')
				li: a Home 
				li: a The Bride & Groom
				li: a The Maids & Men
				li: a The Location
				li: a The Registry
				li: a 
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Copyright Joe Benscoter 2015
