@import 'nib'
global-reset()
primary-color = #A0D2A1
t-color-2 = #6EA06F
body
	background-color white
	max-width 100%
	min-width 400px
#bannerimage
	margin-top 10px
	max-width 100%

header
	background-color primary-color
	max-width 100%
#nav
	color t-color-2
#nav li
	display block
	display inline
	float left
	width 20%
	margin-top 10px
	text-align center
#banner
	background-color primary-color
	max-width 100%
footer
	font-size 12px
	text-align center
	buffer 10px

