html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  max-width: 100%;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #ededed;
}
body:before,
body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}
header {
  background-color: #a0d2a1;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
header:before,
header:after {
  content: '';
  display: table;
}
header:after {
  clear: both;
}
#nav {
  width: 100%;
  color: #6ea06f;
}
#nav li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 19.6%;
  margin-left: 0%;
  margin-right: 0.5%;
  margin-top: 10px;
  display: block;
  text-align: center;
}
#nav li:before,
#nav li:after {
  content: '';
  display: table;
}
#nav li:after {
  clear: both;
}
#nav li:last-child {
  margin-right: 0%;
}
banner {
  background-color: #a0d2a1;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
banner:before,
banner:after {
  content: '';
  display: table;
}
banner:after {
  clear: both;
}
.bannerimage {
  *zoom: 1;
  width: auto;
  max-width: 1600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.bannerimage:before,
.bannerimage:after {
  content: '';
  display: table;
}
.bannerimage:after {
  clear: both;
}
.eventDetails {
  width: 100%;
  *zoom: 1;
  width: auto;
  max-width: 1600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.eventDetails:before,
.eventDetails:after {
  content: '';
  display: table;
}
.eventDetails:after {
  clear: both;
}
.detailsCard {
  margin: 10px;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #888;
  box-shadow: 1px 1px 5px #888;
}
.detailsCard:before,
.detailsCard:after {
  content: '';
  display: table;
}
.detailsCard:after {
  clear: both;
}
.detailsCard:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.detailsCard:nth-child(3n+1) {
  clear: both;
}
@media screen and (max-width: 600px) {
  .detailsCard {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .detailsCard:before,
  .detailsCard:after {
    content: '';
    display: table;
  }
  .detailsCard:after {
    clear: both;
  }
  .detailsCard:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .detailsCard:nth-child(3n+1) {
    clear: none;
  }
  .detailsCard:nth-child(1n) {
    margin-right: 0%;
    float: right;
  }
  .detailsCard:nth-child(1n+1) {
    clear: both;
  }
}
.detailsCard h3 {
  text-align: center;
  font-size: 26px;
  margin: 5px;
}
.detailsCard h4 {
  text-align: center;
  font-size: 23px;
  margin: 20px;
}
.detailsCard p {
  text-align: center;
}
.cardimage {
  display: block;
  margin: auto;
  width: 100%;
}
footer {
  font-size: 12px;
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: #808080;
}
footer:before,
footer:after {
  content: '';
  display: table;
}
footer:after {
  clear: both;
}
